<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>

  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/script.js" defer></script>
</head>

<body>

  <div class="card">
    <h2 class="city">Weather App</h2>
    <div class="search">
      <input type="text" class="search-bar" placeholder="Enter a city name">
      <button id ="myBtn">Search</button>
    </div>
    <div class="weather">
      <h1 class="temp"></h1>
      <h3 class="description"></h3>
      <div class="wind"></div>
      <div class="humidity"></div>
    </div>

  </div>

</body>

</html>